/*	Button Styles
/*--------------------------------------*/

// Button Defaults

%btn {
	background: $btn-color;
	color: white!important;
	padding: 8px 20px;
	margin-bottom: 5px;
	font-weight: bold;
	letter-spacing: 1px;
	line-height: 1em;
	min-width: 90px;
	display: inline-block;
	text-align: center;
	border: none;
	cursor: pointer;
	position: relative;
	@include border-radius($radius);
	@include transition(background-color 0.24s ease-in-out);

	&:hover, &:focus {
		background: $btn-hover-color;
		color: white;
	}
	&:active {
		top: 1px;
	}
}
.btn, input[type="submit"], .page .btn, .single .btn, a.btn  {
	@extend %btn;
}
.btn.give {
	padding: 8px 10px;
	margin: 0 auto;
	text-align: left;
	min-width: auto;
	
	span {
		font-size: .8em;
	}
}

button {
	border: none;
	font-weight: bold;
	@include transition(background-color 0.24s ease-in-out);
	
	&.is-checked {
		background: $btn-hover-color;
		color: white;
	}
	&.outline {
		font-weight: normal;
		font-size: 16px;
		letter-spacing: 0;
		background: none;
		border: 2px solid white;
		padding: 10px 25px;
		@include border-radius(25px);
		
		&:hover, &:focus {
			background: $btn-hover-color;
			color: white;
		}
	}
    &.option {
    color: rgba(255, 255, 255, 0.98);
    background: $btn-hover-color;
    padding: 3px 10px;
    min-width: 90px;
    position: relative;
    @include border-radius(15px); }
    &.is-checked {
      background: $btn-color;
      color: white; }
    &:active {
      top: 1px; }
}

// Need to duplicate button code and make important for Events
.tribe-bar-submit .tribe-events-button, .tribe-events-read-more, .tribe-events-read-more:link, .tribe-events-list-widget a.btn {
	background-color: $btn-color!important;
	line-height: 1em!important;
	color: white!important;
	padding: 8px 20px!important;
	font-weight: bold!important;
	letter-spacing: 1px!important;
	min-width: 90px!important;
	display: inline-block!important;
	text-align: center!important;
	border: none!important;
	cursor: pointer!important;
	position: relative!important;
	border-radius: $radius!important;
	background-clip: padding-box!important;
	transition: background-color 0.24s ease-in-out!important;
	-webkit-transition: background-color 0.24s ease-in-out!important;

	&:hover, &:focus {
		background-color: $btn-hover-color!important;
		color: white!important;
	}
	&:active {
	  top: 1px;
	}
}