/* ==========================================================================
	Main Styles - Desktop
	
	Table of Contents
	
	1. Main Containers
	2. Homepage
	3. Header
	4. Navigation
	5. Footer
	6. Person Page
	7. People Archive
	8. Books
	9. Articles/Posts
	10. Other
	
	========================================================================== */

/*	1. Main Containers
/*--------------------------------------*/

#container {
	width: 100%;
	overflow: auto;
	zoom: 1;
}
.content, header {
	width: $site-width;
	margin: 0 auto;
	@extend %clearfix;
}
#hero {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	width: 100%;
	height: 400px;
	float: left;
	clear: both;
	margin: 0 0 13px 0;
}
.col {
	width: 640px;
	float: left;
}
.col + .col {
	width: 280px;
	margin: 10px 0 30px 20px;
}
.page-template-page-full .col {
	width: 100%;
}

/*	2. Homepage
/*--------------------------------------*/

.home #hero {
	height: $home-hero-height;
	margin: 0 0 40px 0;
	
	.content {
		width: 100%;
		height: $home-hero-height;
		position: relative;
		
		&.text {
			@include vendor-prefix('box-shadow', 'inset 0 -40px 80px 60px rgba(0,0,0,0.5)');
			//background: rgba(0,0,0,0.5);
		}
	}
	.hero-description {
		color: white;
		text-align: center;
		width: 100%;
		margin: 0 auto;
		padding: 0 0 60px 0;
		position: absolute;
		bottom: 0;
		
		.content {
			width: $site-width;
			position: static;
			height: auto;
			box-shadow: none;
			background: none;
            text-shadow: 0px 0px 9px #000;
		}
		h2 {
			font-size: 3em;
			//width: $site-width;
			margin: 0 auto;
			font-weight: 600;
            
            color: $white-text-color!important;
            display: inline-block;
            border-top: $link-color solid 5px;
            padding: 5px 0px 0px 0px;
		}
		p {
			font-size: 1.2em;
			width: 700px;
			margin: 0 auto;
			font-weight: normal;
		}
		button.outline {
			margin-top: 35px;
			min-width: 180px;
		}
		.left {
			text-align: left;
			
			p {
				margin: 0;
			}
		}
		.right {
			text-align: right;
			
			p {
				margin: 0;
				float: right;
				clear: both;
			}
			button {
				float: right;
				clear: both;
			}
		}
	}
	.hero-description.middle {
		bottom: 12%;
	}
}
.home .col.one:nth-of-type(1){
    width: 300px;
    
}
.home .col {
	float: left;
	
	ul, ol {
		margin-top: 0;
		
		a {
			text-decoration: none;
		}
	}
	li {
		list-style: none;
		margin-left: 0;
		@extend %clearfix;
	}
	p, span.description {
		padding: 0;
		margin: 0 0 20px 0;
		line-height: 1.5em;
		font-size: .9em;
		font-weight: normal;
		color: $text-color;
		display: block;
	}
	span.description {
		margin-bottom: 10px;
	}
	h4 {
		line-height: 1.5em;
       // color: $text-color;
        color: $link-color;
	}
	.categories {
		display: block;
		line-height: 1em;
	}
	&.one {
		width: 220px;
		padding: 0;
	}
	&.two {
		width: 380px;
	}
	&.three {
		width: 700px;
	}
	&.page-col {
		p {
			font-size: 1em;
		}
	}
	&.news-col {
		li {
			padding: 0;
			margin-bottom: 20px;
			clear: both;
		}
		.category a {
			font-size: .70em;
			color: $secondary-text-color;
			text-transform: uppercase;
			font-weight: normal;
			letter-spacing: 1px;
			display: inline-block;
		}
		&.one {
			ol.categories {
				
			}
			.item {
				width: auto;
			}
			p {
				margin-bottom: 0;
			}
		}
		&.two {
			.item {
				float: right;
				width: 260px;
			}
			img {
				margin-top: 3px;
			}
			.btn {
				margin-left: 130px;
			}
		}
		&.three {
			.item {
				float: right;
				width: 570px;
			}
			img {
				margin-top: 3px;
			}
			.btn {
				margin-left: 130px;
			}
		}
	}
	&.events-col {
		.duration {
			color: $text-color;
			line-height: 1.5em;
			font-size: .8em;
		}
		.duration span {
			display: inline; 
			font-weight: 600;
			padding: 0;
			margin: 0;
		}
		li {
			margin-bottom: 20px;
		}
		.category {			
			a {
				font-size: .70em;
				color: $secondary-text-color;
				text-transform: uppercase;
				font-weight: normal;
				letter-spacing: 1px;
				display: inline-block;
			}
			& + .category {
				&:before {
					content: ",";
					margin: 0 5px 0 0;
				}
			}
		}
		&.one {
			ol.categories {
				
			}
		}
		&.two {
			.item {
				float: right;
				width: 330px;
				margin-top: 0;
			}
			img {
				margin-top: 3px;
			}
			.btn {
				margin-left: 130px;
			}
		}
	}
}
.home .col + .col {
	margin: 0 0 0 20px;
	background-color: white;
	
	li {
		padding: 0;
	}
}

/*	3. Header
/*--------------------------------------*/

header {
	padding: 35px 0 0 0;
	
	&.top {
		.dept-logo { 
			width: 565px;
			display: inline-block;
			margin: 0;
			text-align: center;
            
             // For retina, upload image 2x larger and resize here
            img {
                width: 530px;
                height: 84px;
            }
		}       
	}
	.logos {
		float: left;
	}
	nav {
		clear: both;
		float: left;
		padding: 0;
	}/*
	nav.mobile {
		display: none;
	}*/
	nav ul {
		width: 760px;
	}
	.search {
		float: right;
		clear: right;
		//margin-top: 30px;
        margin-top:15px;
        background-color: #f2f2f2;
	}
	.give-back {
		width: 165px;
		text-align: center;
		float: right;
		margin-top: 20px;

		span {
			font-size: .85em;
			display: inline-block;
		}
	}
	.university-logo {
		float: left;
		margin-top: 20px;
		// For retina, upload image 2x larger and resize here
		width: 155px;
		height: 50px;
	}
}
.breadcrumbs {
	//background-color: $secondary;
	width: 100%;
	float: left;
	clear: both;
	color: $secondary-text-color;
	font-size: .85em;
	padding: 8px 0;    
	margin-bottom: 40px;
    border-bottom: $border-color 2px solid;
	
	img {
		margin: 0;
		padding: 0;
	}
	ul {
		margin: 0;
		padding: 0;
		clear: both;
		float: left;
	}
	li {
		float: left;
		display: inline-block;
		padding: 0 0 0px 10px;
		margin: 0;
	}
	li + li {
		margin: 0 0 0 5px;
		background: url('../images/arrow.png') no-repeat left center;
	}
	a {
		font-weight: bold;
		color: $link-color;
		text-decoration: underline;
	}
}


/*	4. Navigation
/*--------------------------------------*/

/*
header, footer {
	nav.desktop ul, nav ul {
		padding: 0;
		margin: 0;
		float: left;
	}
	nav.desktop ul li, nav ul li {
		display: inline-block;
		margin: 0 5px 0 0;
	}
}
header nav.desktop ul li {
	position: relative;
}
*/

header nav.desktop ul, footer nav ul {
	padding: 0;
	margin: 0;
	float: left;
}
header nav.desktop ul li, footer nav ul li {
	display: inline-block;
	margin: 0 10px 0 0;
}
header.top {
    width: auto !important;
    .nav-search {
        min-height: 54px;
        background: #000;
        margin-top: 32px;
        padding: 0px;
        position: relative;
        clear: both;
            nav.desktop ul {
                
                li {
                    position: relative;
                    padding: 15px 10px;
                    margin: 0px -2px;
                    max-height: 24px;
                    
                    ul li {max-height: none;}
                }
                li:nth-child(1), li:nth-child(1) ul.sub-menu {
                    background-color: #e40206;                    
                    li{ background: none !important; padding: 5px 15px; }
                }
                li:nth-child(2), li:nth-child(2) ul.sub-menu {
                    background-color: #f78e0a;                    
                    li{ background: none !important; padding: 5px 15px; }
                }
                li:nth-child(3), li:nth-child(3) ul.sub-menu {
                    background-color: #edc919;                    
                    li{ background: none !important; padding: 5px 15px; }
                }
                li:nth-child(4), li:nth-child(4) ul.sub-menu {
                    background-color: #4aca5f;                    
                    li{ background: none !important; padding: 5px 15px; }
                }
                li:nth-child(5), li:nth-child(5) ul.sub-menu {
                    background-color: #0093cf;                    
                    li{ background: none !important; padding: 5px 15px; }
                }
                li:nth-child(6), li:nth-child(6) ul.sub-menu {
                    background-color: #b30071;                    
                    li{ background: none !important; padding: 5px 15px; }
                }
                li:nth-child(7), li:nth-child(7) ul.sub-menu {
                    background-color: #3f005e;                    
                    li{ background: none !important; padding: 5px 15px; }
                }
                li:nth-child(8), li:nth-child(8) ul.sub-menu {
                    background-color: #e40206;                    
                    li{ background: none !important; padding: 5px 15px; }
                }
                
                // hover
                
                
                li:nth-child(1):hover, li:nth-child(1) ul.sub-menu li:hover {
                    background-color: shade(#e40206, 90% ) !important;
                }
                li:nth-child(2):hover, li:nth-child(2) ul.sub-menu li:hover {
                    background-color: shade(#f78e0a, 90% ) !important;                    
                }
                li:nth-child(3):hover, li:nth-child(3) ul.sub-menu li:hover {
                    background-color: shade(#edc919, 90% ) !important;
                }
                li:nth-child(4):hover, li:nth-child(4) ul.sub-menu li:hover {
                    background-color: shade(#4aca5f, 90% ) !important;  
                }
                li:nth-child(5):hover, li:nth-child(5) ul.sub-menu li:hover {
                    background-color: shade(#0093cf, 90% ) !important; 
                }
                li:nth-child(6):hover, li:nth-child(6) ul.sub-menu li:hover {
                    background-color: shade(#b30071, 90% ) !important; 
                }
                li:nth-child(7):hover, li:nth-child(7) ul.sub-menu li:hover {
                    background-color: tint(#3f005e, 80% ) !important;
                }
                li:nth-child(8):hover, li:nth-child(8) ul.sub-menu li:hover {
                    background-color: shade(#e40206, 90% ) !important;
                }
            }
    }
}

/* Drop Down */
header nav.desktop {
	ul li ul {
		position: absolute;
		visibility: hidden;
		opacity: 0;
		padding: 0;
		width: 170px;
		top: 49px;
        left: 0px;
		margin-top: 5px;
		background-color: white;
		z-index: 10000;
		@include vendor-prefix('box-shadow', '0px 5px 5px 0 rgba(0,0,0,.14)');
		@include transition(all 0.24s ease-in-out);
	}
	ul li ul li, ul li ul li a { 
		display: block;
		margin: 0;
	}
	ul li ul li a {
		line-height: 1em;
		padding: 6px 0;
	}
	ul li:hover ul, .sub-menu.open {
		display: block;
		opacity: 1;
		visibility: visible;
	}
	ul li.menu-item-has-children a {
		&:after {
			content: "\f0d7"; 
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			padding-left: 5px;
		}		
	}
	ul li.menu-item-has-children ul.sub-menu a {
		background: none;
		padding-right: 0;
		
		&:after {
			content: none;
		}
	}
	ul li ul li.menu-item-has-children {
		background: none;
	}
	a {
		font-weight: 600;
		text-transform: uppercase;
		font-size: .8em;
	}
	a, a:link {
		color: white;
		@include transition(all 0.24s ease-in-out);
	}
	a:hover, a:focus, a:active, ul li:hover.menu-item-has-children:after {
        color: rgba(white, .75);
	}
}

/* Side Menu */
.col.side {
	width: 220px;
	margin-left: 80px;

	.content {
		width: 220px;
	}
	li {
		list-style: none;
		margin: 0 0 5px 0;
		line-height: 1.2em;
	}
	ol, ul  {
		margin-bottom: 25px;
	}
	nav.page-nav ul {
		padding: 0;
		margin: 0;
	}
	.widget_recent_entries li {
		margin: 0 0 10px 0;
		padding: 0;
		
		a {
			font-family: $raleway;
			font-size: .9em;
		}
	}
	.btn {
		margin-bottom: 40px;
	}
	.sub-menu { 
		display: none;
	}
	.current_page_item .sub-menu, 
	.current_page_parent .sub-menu {
		display: block;
		margin: 5px 0 0 30px;
	}
	.sub-menu li {
		list-style: disc;
	}	
}
.col-nav {
	width: 220px;

	li {
		list-style: none;
		margin-left: 0;
		line-height: 1.5em;
	}
	ul + h3 {
		margin-top: 40px;
	}
}

/*	5. Footer
/*--------------------------------------*/

footer {
	//background-color: $secondary;
	clear: both;
	margin-top: 60px;
	float: left;
	width: 100%;
	padding: 35px 0 40px 0;
	color: $text-color;
	font-size: 1em;
	line-height: 1.5em;
    //border-top: $border-color 4px solid;
    
    border-top: 4px solid transparent;
    -webkit-border-image: url(../images/rainbow-border.jpg) 50 round; /* Safari 3.1-5 */
    -o-border-image: url(../images/rainbow-border.jpg) 50 round; /* Opera 11-12.1 */
	border-image: url(../images/rainbow-border.jpg) 50 round;
    
	/* Footer Nav */
	nav {
		a, a:link, a:visited {
			color: $link-color;
			font-weight: 600;
			text-transform: uppercase;
			font-size: .8em;
		}
		ul.footer-nav {
			clear: left;
			float: left;
		}
		ul.social-links {
			clear: right;
			float: right;
		}
		.icon {
			margin: 0 0 0 10px;
			font-size: 1.7em;
		}
	}
	// Hiding and only showing on mobile
	.search-form {
		display: none;
	}
	.copyright {
		padding-top: 50px;
		font-size: .8em;
		
		.university-logo img {
			float: left;
			width: 70px;
			height: 70px;
		}
		p {
			float: left;
			margin: 0 0 0 20px;
		}
		span {
			margin: 0 5px;
		}
		a, a:link, a:visited {
			color: $link-color;
			text-transform: none;
			text-decoration: underline;
		}
	}
}

/*	6. Person Page
/*--------------------------------------*/

.single-people {
	.details {
		span {
			display: inline;
		}
		span + span {
			margin-left: 20px;
		}
		p {
			margin-top: 0;
		}
	}
	.col + .col {
		margin-top: 0;
	}
	article header {
		padding: 0;
		
		img {
			display: none;
		}
	}
	.bio {
		border-bottom: 2px solid $border-color;
		margin-bottom: 20px;
	}
	.col-nav ul {
		margin-bottom: 40px;
	}
	.photo {
		width: 280px;
		height: 280px;
		margin-bottom: 10px;
	}
	.circle {
		// To make circle, radius should be at least half the width and height
		border-radius: 140px;
	}
	.rounded {
		// Make radius 1/4 the width and height
		border-radius: 70px;
	}
}
.link {
	&:before {
		content: "\f0c1"; 
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		padding-right: 5px;
		color: $secondary-light;
		font-size: .9em;
	}
}
.download {	
	&:before {
		content: "\f019"; 
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		padding-right: 5px;
		color: $secondary-light;
		font-size: .9em;
	}
}

/*	7. People Archive
/*--------------------------------------*/

/* Filters */
.page-template-page-people-listing .main header {
	text-align: center;
	float: left;
	clear: both;
}
.filter {
	clear: both;
	float: left;
	margin: 20px 0;
	width: 100%;

	ul {
		padding: 0;
	}
	li {
		list-style: none;
		display: inline-block;
		margin: 0 5px;
	}
}
.button-group {
	width: 100%;
	float: left;
	
	button {
		margin-right: 5px;
		min-width: 124px;
		letter-spacing: 0;
	}
	button.all {
		min-width: 100px;
		margin-right: 10px;
	}
}
.dropdown-filter {
	display: none;
}

/* People List */
.people-list {
	margin-top: 40px;
	padding: 0 9px;
	clear: both;

	ul {
		margin: 30px 0;
		padding: 0;
	}
	li {
		list-style: none;
	}
	.person-item {
		display: block;
		float: left;
		padding: 15px 10px;
		margin: 0;
		width: 210px;
		height: 280px;
		text-align: center;
		line-height: 1.3em;
		@include transition(background-color 0.24s ease-in-out);
	
		a {
			display: block;
		}
		&.hover {
			&:active, 
			&:hover, 
			&:focus {
				//background-color: $bg-light-color;
                .name {
                    color: $secondary;
                    text-decoration: underline;
                }
                .photo {                 
                    border: 7px solid #dadada;
                    -webkit-filter: grayscale(70%);
                    -moz-filter: grayscale(70%);
                    -o-filter: grayscale(70%);
                    -ms-filter: grayscale(70%);
                    filter: grayscale(70%);
                    opacity: 0.9;
                    filter: alpha(opacity=90);
                }
			}
		}
		.photo {
			border: 7px solid white;
			width: 150px;
			height: 150px;
            background-color: $ucla-blue;
		}
		.circle {
			// To make circle, radius should be at least half the width and height with border (ie. 100px + 7px border = 107px)
			border-radius: 100px;	
		}
		.rounded {
			// Make radius 1/4 the width and height
			border-radius: 25px;
		}
		.name {
            font-size: 1.2em;
			text-transform: uppercase;
			color: $text-color;
			letter-spacing: 1px;
		}
		.interest {
			font-size: .8em;
			color: $text-color;
			line-height: 1em;
			margin: 10px 0;
		}
		.position {
			color: $primary-dark;
			font-style: italic;
			margin-bottom: 0;
		}
		.email, .office, .office-hours, .phone {
			font-size: .8em;
			margin-bottom: 0;
			color: $text-color;
		}
		.email a {
			font-size: 1em;
			display: inline-block;
		}
	}
}

/* Staff */
.people-list .staff {

	li:hover {
		background: none;
	}
	.name {
		color: $text-color;
	}
	.position {
		margin-top: 10px;
	}
}

/*	8. Books
/*--------------------------------------*/

/* General Styles */
.cover {
	@include vendor-prefix('box-shadow', '0 0 10px 0 rgba(0,0,0,.14)');
	border: 3px solid white;
}
.custom-cover {
	background-color: #b4b4b4;
	margin: 0 auto 0 auto;
	
	 .title {
		color: white;
		font-weight: 600;
		text-align: center;
		display: block;
	}
}
.publisher {
	display: block;
}
.book-list {
	.title {
		font-size: 14px;
		line-height: 14px;
		margin-bottom: 5px;
	}
	dd.publisher {
		font-size: 12px;
		line-height: 12px;
		margin-bottom: 5px;
	}
	dd.author a {
		display: block;
		font-size: .8em;
		line-height: 16px;
	}
}

/* People Page */
.single-people .book-list {
	float: left;
	
	img, .custom-cover {
		float: left;
	}
	.custom-cover {
		width: 50px;
		height: 60px;
		padding: 20px 5px 10px 5px;
		
		.title {
			font-size: .42em;
			line-height: 1em;
		}
	}
	li {
		float: left;
		margin: 0 0 20px 0;
		list-style: none;
		display: inline-block;
		width: 320px;
	}
	dl {
		margin-left: 15px;
		float: left;
		clear: none;
		width: 225px;
	}
	dt.title {
		font-size: 14px;
		line-height: 14px;
		margin-bottom: 5px;
	}
	dd {
		margin-bottom: 0;
	}
	dd.publisher {
		font-size: 12px;
		line-height: 12px;
		margin: 10px 0;
	}
	dd.author a {
		display: block;
		font-size: .8em;
		line-height: 16px;
	}
	dd.subtitle {
		font-style: italic;
		line-height: .8em;
	}
}

/* Book Page */
.single-books {
	.publisher {
		display: block;
		font-size: .8em;
		font-style: italic;
	}
	.author {
		margin-top: 20px;
		display: block;
	}
	.author p {
		display: inline;
	}
	.author-name + .author-name {
		
		&:before {
			content: ",";
			margin: 0 5px 0 -3px;
		}	
	}
	.custom-cover {
		width: 244px;
		height: 313px;
		line-height: 24px;
		padding: 60px 15px 10px 15px;
		
		.title {
			font-size: 24px;
		}
	}
	.content header {
		width: 100%;
		
		.cover {
			display: none;
		}
	}
}

/* Book Archive */
.post-type-archive-books {
	h1 {
		text-align: center;
	}
	.book-list {
		margin-top: 40px;
		clear: both;
		
		ul {
			padding: 0;
		}
		li {
			display: inline-block;
			padding: 0;
			margin: 5px 21px;
			width: 190px;
			height: 280px;
			text-align: center;
			vertical-align: top;
			@extend %clearfix;
		}
		.custom-cover {
			width: 91px;
			height: 127px;
			line-height: 9px;
			padding: 20px 5px 10px 5px;
			margin-bottom: 12px;
			
			.title {
				font-size: 9px;
			}
		}
		dt.title {
			font-size: 1em;
			line-height: 1em;
			margin: 5px 0;
		}
		dd.publisher {
			font-size: .8em;
			line-height: .8em;
			margin-bottom: 5px;
		}
		dd.author a {
			display: block;
			font-size: .8em;
			line-height: 1.14em;
		}
		a {
			text-decoration: none;
		}
	}
}
/*    L E C T U R E  S E R I E S
/*--------------------------------------*/

.category, .archive {
	article {
		padding-bottom: 40px;
	}
    .lecture-series-list, .conferences-list {
        article {
            width: 48%;
            float: left;
            min-height: 135px;
        }
        article:nth-of-type(even) {
            margin-left: 20px;
        }
        article + article,  {
            border-top: none;
            padding-top: 0px;
        }
        article + article + article {
            border-top: 2px solid $border-color;
            padding-top: 20px;
        }
    }
}
.publish-date {
	margin-top: 0;
	margin-bottom: 20px;
	display: block;
}

/*	9. Articles/Posts
/*--------------------------------------*/

.category, .search-results, .archive {
	article {
		padding-bottom: 40px;
	}
	article + article {
		border-top: 2px solid $border-color;
	}
}
.publish-date {
	margin-top: 0;
	margin-bottom: 20px;
	display: block;
}

/*	10. Other
/*--------------------------------------*/

article img {
	max-width: 100%;
	height: auto;
}
img.alignleft, figure.alignleft { 
	float: left;
	margin: 0 15px 15px 0;
}
img.alignright, figure.alignright { 
	float: right;
	margin: 0 0 15px 15px;
}
img.aligncenter, figure.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto
}
.pagination li {
	display: inline-block;
}
.pagination {
	text-align: center;
	margin-top: 40px;
}
.instructors {
	display: block;
	margin-bottom: -20px;
}
figure {
	margin-left: 0;
	margin-right: 0;
}
.content-subtitle {
	font-size: 1.4em;
	font-weight: 500;
	line-height: 1.6em;
	display: block;
}
.notice, .gform_confirmation_wrapper {
	width: 100%;
	margin: 2em 0;
	background: $bg-light-color;
	border-top: 10px solid $primary;
	padding: 10px 0;
}
.notice p, .notice h3 {
	padding: 0 25px;
}
.gform_confirmation_wrapper {
	padding: 10px 0 40px 0;
	
	.gform_confirmation_message {
		padding-left: 25px;
		padding-right: 25px;
	}
}

/* Courses */
ul.course-list {
	li {
		list-style: none;
		margin-left: 0;
		padding-bottom: 5px;
	}
	h3 {
		margin-bottom: 0;
	}
	p {
		margin: 1em 0 1.5em 0;
	}
}

/* Tables */
td, th {
	padding: 5px;
} 
th {
	background-color: $primary-light;
}
tr:nth-of-type(odd) {
	background: $bg-light-color;
}
tr:hover td {
	background-color: $bg-dark-color;
}
td {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: $border-color;
}

/* FAQ/Accordion */
h5.topic {
	cursor: pointer;
	font-size: 1.2em;
	padding: 10px 0;
	margin: 0;
	
	button {
		background: none;
		color: $link-color!important;
		padding: 0;
		margin-bottom: auto;
		letter-spacing: 0;
		line-height: 1.3em;
		text-align: left;
		border-radius: 0;
		@include transition(all 0.24s ease-in-out);
	
		&:hover, &:focus {
			background: none;
			color: $link-hover-color!important;
		}
		&:active {
			top: 0;
		}
		&:before,
		&:before {
			content: "\f0da"; 
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			width: 20px;
			display: inline-block;
		}
		&[aria-expanded=true]:before,
		&[data-expanded=true]:before {
			content: "\f0d7"; 
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			width: 20px;
		}
	}
}
div.response + h5.faq {
	border-top: 1px solid $border-color;
}
div.response {
	padding-left: 20px;
	
	p {
		margin: 0 0 1.5em 0;
	}
	
	// This is the opened state
	&.animated-expandmore__to_expand {
		display: block;
		overflow: hidden;
		opacity: 1;
		transition: visibility 0s ease, max-height .8s ease, opacity 1s ease ;
		max-height: 100em;
		visibility: visible;
		transition-delay: 0s;
	}
	
	// This is the hidden state
	&[data-hidden=true].animated-expandmore__to_expand {
		display: block;
		max-height: 0;
		opacity: 0;
		visibility: hidden;
		transition-delay: 1s, 0s, 0s;
	}
}

// Accordion style
h5.accordion {
	padding: 10px;
	margin: 0;
	background: $bg-light-color;
	border: 1px solid $border-color;
	@include transition(all 0.24s ease-in-out);
	
	&:hover {
		background: $bg-dark-color;
	}
	button {
		background: none;
		color: $link-color!important;
		padding: 0;
		margin-bottom: auto;
		letter-spacing: 0;
		line-height: 1.3em;
		text-align: left;
		@include transition(all 0.24s ease-in-out);
	
		&:hover, &:focus {
			background: none;
			color: $link-hover-color!important;
		}
		&:active {
			top: 0;
		}
		&:before,
		&:before {
			content: "\f067"; 
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			font-size: .7em;
			width: 20px;
			display: inline-block;
		}
		&[aria-expanded=true]:before,
		&[data-expanded=true]:before {
			content: "\f068"; 
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			width: 20px;
		}
	}
}
div.response.accordion {
	border: 1px solid $border-color;
	border-top: none;
	padding: 0;
	margin-top: -2px;
	
	& > * {
		margin: 1.5em 20px;
	}
	& + h5.accordion {
		border-top: none;
	}
	&[data-hidden=true] {
		padding: 0;
	}
}

/* Galleries */
.gallery {
	.gallery-item {
		display: inline-block;
		vertical-align: top
	}
	.gallery-item + .gallery-item {
		margin-left: 10px;
	}
	.gallery-caption {
		max-width: 150px; 
		line-height: 16px; 
		font-size: 12px; 
		font-style: italic;
	}
	.gallery-icon {
		min-height: 160px;
	}
}

//    C O L O R  P A L E T T E
//--------------------------------------*/

.color-block {
	width: 103px;
	height: 103px;
	float: left;
	text-align: center;
	line-height: 7em;
	margin: 0 1px;
}
.light-primary {
	background: $primary-light;
}
.primary {
	background: $primary;
}
.dark-primary {
	background: $primary-dark;
}
.light-secondary {
	background: $secondary-light;
}
.secondary {
	background: $secondary;
}
.dark-secondary {
	background: $secondary-dark;
}
.light {
	color: white;
}